body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    color: #333;
    margin: 0;
    padding: 0;
}

.center {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.product-item {
    background-color: #9bb1fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.product-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-item p {
    margin: 10px 0;
}

.product-item input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-item input[type="checkbox"] {
    margin-top: 10px;
}

.boton {
    text-align: center;
    margin-top: 20px;
}

.boton input[type="submit"] {
    background-color: #2691d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton input[type="submit"]:hover {
    background-color: #106faf;
}
