body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.center {
    width: 40%;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.right-panel {
    width: 40%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.right-panel table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.right-panel table th,
.right-panel table td {
    padding: 10px;
    border-bottom: 1px solid #adadad;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.right-panel table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.right-panel h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}
